<!DOCTYPE html>
<html>
<head>
<head xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<meta http-equiv="refresh" content="5">
<title>Devices</title>
<link rel="shortcut icon" type="image/jpg"
	th:href="@{/images/favicon.png}" />
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<style type="text/css">
.container-fluid div {
	float: left;
	margin: 1.75em
}

.card {
	min-width: 220px;
	max-width: 220px;
}

.disabled {
	/* pointer-events: none;
	cursor: default;
	text-decoration: none;
	background: rgba(1, 1, 1, 0.10);
	color: black; */
	
}

.disabled-local {
	/* pointer-events: none;
	cursor: pointer;
	text-decoration: none;
	background: rgba(1, 1, 1, 0.10);
	text-decoration: none;
	color: black; */
	
}

.grey {
	background: rgba(1, 1, 1, 0.10);
}

.bolder {
	font-weight: bolder;
}

.text-center-align {
	text-align: center
}

.smaller {
	font-size: 1.12em
}

.link-disabled {
	pointer-events: none;
	cursor: default;
	text-decoration: none;
	color: black;
}
</style>
<script type="text/javascript">
	$("html").on('click', ".link-disabled", e => e.preventDefault());
</script>
</head>
<body>
	<div class="" style="margin: 2em">
		<div class="container-fluid" style="display: inline;">
			<div style="align-content: center; width: 100%; text-align: center">
				<span style="font-size: 2em; font-weight: bolder;"
					th:text="${devices.isEmpty()} ? 'No Device Available': 'Connected Android & iOS Devices'">
				</span>
			</div>
			<div class="row">
				<div th:each="instance,itr : ${devices}" class="card"
					style="margin: 1em;"
					th:title="${instance.isAndroid ? (#strings.contains(instance.url, 'localhost') ? 'cannot interact with devices connect to localhost': '') : 'cannot interact with this device'}"
					th:classappend="${instance.isFree ? ' ' : 'grey'}"
					>

					<table class="card-body" cellpadding="5" cellspacing="5"
						style="text-align: left; font-size: 1.5vh; margin: 1em;">
						<tr>
							<td colspan="2"><a target="_blank" th:href="${instance.url}"
								th:classappend="${!instance.isAndroid ? (instance.isFree ? ' link-disabled': '') : (#strings.contains(instance.url, 'localhost') ? 'link-disabled' : '')}"
								class="card-link"> <img
									onerror="this.onerror=null;this.src='images/phone.png';"
									class="card-img-top"
									th:src="'data:image/png;base64,'+ ${instance.imageUrl}"
									alt="Phone" /></a></td>
						</tr>
						<tr>
							<td style="min-height: 20px; min-height: 20px" colspan="2">
								<h6 class="card-title bolder text-center-align"
									th:classappend="${instance.isAndroid} ? '' : 'smaller'"
									th:text="${instance.isAndroid} ? ${instance.marketName} : ${instance.model}" />
							</td>
						</tr>
						<tr>
							<td><img title="Manufacturer" width="30px" height="30px"
								class="card-text" th:src="@{/images/manufacturer.png}"></td>
							<td>
								<p class="card-text bolder " th:text="${instance.manufacturer}" />
							</td>
						</tr>
						<tr>
							<td><img width="30px" height="30px" class="card-text"
								title="Mobile Device Type" th:src="@{/images/mobile.png}"></td>
							<td>
								<p class="card-text bolder" th:text="${instance.deviceType}" />
							</td>
						</tr>
						<tr>
							<td th:if="${instance.isAndroid}"><img width="30px"
								title="Android Version" height="30px" class="card-text"
								th:src="@{/images/android.png}"></td>

							<td th:if="${!instance.isAndroid}"><img width="30px"
								title="iOS Version" height="30px" class="card-text"
								th:src="@{/images/ios.png}"></td>
							<td>
								<p class="card-text bolder" th:text="${instance.sdkVersion}" />
							</td>
						</tr>
						<tr th:if="${instance.isAndroid}">
							<td><img width="30px" height="30px" class="card-text"
								title="Chrome Version" th:src="@{/images/chrome.png}"></td>
							<td>
								<p class="card-text bolder" th:text="${instance.browserVersion}" />
							</td>
						</tr>
						<tr>
							<td><img width="30px" height="30px" class="card-text"
								title="Allocated For" th:src="@{/images/allocate.png}"></td>
							<td>
								<p class="card-text bolder" th:text="${instance.allocatedFor}" />
							</td>
						</tr>
						<tr th:if="${null !=  instance.allocatedTo}" class='enabled'>
							<td><img width="30px" height="30px" class="card-text"
								title="Allocated For" th:src="@{/images/allocate.png}"></td>
							<td><span class="card-text bolder"
								th:if="${instance.allocatedTo.jenkinsJobLink != null && !instance.allocatedTo.jenkinsJobLink.isEmpty()}"
								th:utext="'IP: <span class=\'txt-color\'>' + ${instance.allocatedTo.ip} + '</span><br/>User: <span class=\'txt-color\'>' + ${instance.allocatedTo.user} + '</span></br>Job: <a target=\'blank\' class=\'card-link\' href=\''+ ${instance.allocatedTo.jenkinsJobLink} + '\'>link</a>'" />
								<span class="card-text bolder"
								th:if="${instance.allocatedTo.jenkinsJobLink == null}"
								th:utext="'IP: <span class=\'txt-color\'>' + ${instance.allocatedTo.ip} + '</span><br/>User: <span class=\'txt-color\'>' + ${instance.allocatedTo.user}" />
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>